.square_photo {
    position: absolute; 
    top: 120px;
    left: 60px;
    width: 15%; 
    height: 20%; 
    border-radius: 5%;
    border: 7px solid #1f6485;
    background-color: #309cce;
    background-size: cover; 
}

.square_photo img {
    margin-top: 0px;
    width: 108%;
    min-height: 185px;
}

.square_photo_content{
    position: absolute;
    top: 305px;
    left: 80px;
    font-family: "Press Start 2P", system-ui;
    color: #1869e4;
    font-size: 15px;
}

.square_photo_content span {
    padding-bottom: 3px;
    padding-top: 12px;
    width: 102%;
    height: 40px;
    display: inline-block;
    transform: translate(-15px, -10px);
}

.square_photo_buttons {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 75px;
    left: 12px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 12px;
    font-family: "Manrope", sans-serif;
    cursor: pointer;
    display: inline-block;
    z-index: 10;
    transition: background-color 0.3s, transform 0.3s;
}

.square_photo_buttons:hover {
    transform: scale(1.1);
    color: #13303f;
}

.square_inform {
    position: absolute; 
    top: 120px; 
    margin-left: 20%;
    width: 70%; 
    height: 20%; 
    border-radius: 1%/5%;
    background-color: #00929D96; 
    background-size: cover;

}

.square_inform_content {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 14px;
    font-family: "Manrope", sans-serif;
}
.square_inform_buttons {
    position: absolute;
    top: 135px;
    left: 40%;
    width: 180px;
    height: 27px;
    background: linear-gradient(to right, #296986, #000C76);
    border-radius: 5%/30%;
    margin-right: 50px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 9px;
    font-family: "Press Start 2P", system-ui;
    color: #cccccc;
}
.square_inform_buttons span {
    color: #f5f4f4;
}

.square_inform_buttons:hover {
    transform: scale(1.1);
}

.square_portfolio {
    position: absolute; 
    top: 37%; 
    margin-left: 5px; 
    width: 90%;
    height: 30%;
    border-radius: 1%/5%;
    background-color: #00929D96; 
    background-size: cover;
}

.square_portfolio_content {
    position: absolute;
    top: 15px;
    left: 39%;
    color: #FFFFFF;
}
.square_portfolio_content span {
    height: 53px;
    padding-top: 18px;
    display: inline-block;
    transform: translate(-29px, -25px);
} 


.square_portfolio_buttons1 {
    position: absolute;
    top: 45%;
    left: 2%;
    width: 25px;
    height: 25px;
    background-color: #00929D96;
    border-radius: 50%;
    margin-right: 50px;
    transition: background-color 0.3s, transform 0.3s;
}

.square_portfolio_buttons1:hover {
    transform: scale(1.1);
}

.square_portfolio_buttons2 {
    position: absolute;
    top: 48%;
    right: -3%;
    width: 25px;
    height: 25px;
    background-color: #00929D96;
    border-radius: 50%;
    margin-right: 50px;
    transition: background-color 0.3s, transform 0.3s;
}

.square_portfolio_buttons2:hover {
    transform: scale(1.1);
}

.square_portfolio_buttons3 {
    position: absolute;
    top: 225px;
    left: 45%;
    width: 180px;
    height: 27px;
    background: linear-gradient(to right, #296986, #000C76);
    border-radius: 5%/30%;
    margin-right: 50px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 7px;
    font-family: "Press Start 2P", system-ui;
    color: #cccccc;
}



.square_portfolio_buttons3:hover {
    transform: scale(1.1);
}

.square_reiting {
    position: absolute; 
    top: 70%; 
    margin-left: 5px; 
    width: 90%; 
    height: 25%;
    border-radius: 1%/5%;
    background-color: #00929D96;
    background-size: cover;
}

.div-horizontal-scroll {
    position: absolute;
    top: 15px;
    left: 39%;
    color: #FFFFFF;
}

.div-horizontal-scroll span {
    height: 41px;
    padding-top: 12px;
    display: inline-block;
    transform: translate(-21px, -16px);
}

.plus {
    position: absolute;
    top: 40px;
    left: 20px;
    color: #000C76;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s, transform 0.3s;
}
.plus:hover {
    transform: scale(1.1);
    color: #000C76;
}
.minus{
    position: absolute;
    top: 40px;
    margin-left: 200px;
    color: #000C76;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s, transform 0.3s;
}
.minus:hover {
    transform: scale(1.1);
    color: #000C76;
}
.social-bar-wrap {
    text-align: right;
}

.social-bar-wrap a {
    padding: 0 7px;
    font-size: 18px;
}

