/* вход */

position: relative;
width: 381px;
height: 417px;

background: #FFFFFF;


/* Frame 5 */

position: absolute;
width: 295px;
height: 339px;
left: 47px;
top: 33px;

background: #294548;
border-radius: 10px;


/* пароль пользователя */

position: absolute;
width: 267px;
height: 41px;
left: 14px;
top: 177px;



/* Frame 6 */

position: absolute;
width: 267px;
height: 23px;
left: 14px;
top: 195px;

background: #FFFFFF;
border-radius: 10px;


/* Придумайте пароль */

position: absolute;
left: 3%;
right: 45.32%;
top: 21.74%;
bottom: 21.99%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;

color: #7F7F7F;



/* Пароль */

position: absolute;
width: 78px;
height: 13px;
left: 25px;
top: 177px;

font-family: 'Press Start 2P';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 13px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* почта пользователя */

position: absolute;
width: 267px;
height: 40px;
left: 14px;
top: 120px;



/* Frame 6 */

position: absolute;
width: 267px;
height: 23px;
left: 14px;
top: 137px;

background: #FFFFFF;
border-radius: 10px;


/* Укажите свой email */

position: absolute;
left: 3.37%;
right: 46.82%;
top: 21.74%;
bottom: 21.99%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;

color: #7F7F7F;



/* Email */

position: absolute;
width: 65px;
height: 13px;
left: 25px;
top: 120px;

font-family: 'Press Start 2P';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 13px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* имя пользователя */

position: absolute;
width: 267px;
height: 40px;
left: 14px;
top: 67px;



/* Frame 6 */

position: absolute;
width: 267px;
height: 23px;
left: 14px;
top: 84px;

background: #FFFFFF;
border-radius: 10px;


/* Укажите свое имя */

position: absolute;
left: 4.12%;
right: 49.81%;
top: 21.74%;
bottom: 21.99%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;

color: #7F7F7F;



/* Имя */

position: absolute;
width: 39px;
height: 13px;
left: 25px;
top: 67px;

font-family: 'Press Start 2P';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 13px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* выбор роли */

position: absolute;
width: 267px;
height: 29px;
left: 14px;
top: 246px;



/* заказчик */

position: absolute;
width: 121px;
height: 29px;
left: 14px;
top: 246px;

background: #296986;
border-radius: 10px;


/* Я заказчик */

position: absolute;
width: 74px;
height: 19px;
left: 24px;
top: 5px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Vector */

position: absolute;
left: 86.78%;
right: 0%;
top: 10.34%;
bottom: 0%;

background: #000000;


/* фриланс */

position: absolute;
width: 121px;
height: 29px;
left: 160px;
top: 246px;

background: #FFFFFF;
border-radius: 10px;


/* Я фрилансер */

position: absolute;
width: 88px;
height: 19px;
left: 17px;
top: 5px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Frame 7 */

position: absolute;
width: 151px;
height: 27px;
left: 72px;
top: 303px;

background: #000C76;
border-radius: 10px;


/* войти */

position: absolute;
width: 70px;
height: 14px;
left: 41px;
top: 7px;

font-family: 'Press Start 2P';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* ВХОД */

position: absolute;
width: 192px;
height: 16px;
left: 99px;
top: 61px;

font-family: 'Press Start 2P';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */
text-align: center;

color: #FFFFFF;

