/* главная страница до регистрации */

position: relative;
width: 1920px;
height: 1024px;

background: #00929D;


/* шапка */

position: absolute;
width: 1920px;
height: 72px;
left: 0px;
top: 2px;

background: #E4F5FF;



/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 290px;
height: 27px;
left: 200px;
top: 23px;



/* Монтажная область 1 1 */

width: 54px;
height: 54px;

background: url(Монтажная область 1);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Freezlance */

width: 228px;
height: 36px;

font-family: 'Dmitrieva SP';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 31px;
display: flex;
align-items: center;
text-align: center;

color: #296986;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* поиск */

position: absolute;
width: 39px;
height: 39px;
left: 1273px;
top: 16px;



/* кнопочка 1 */

box-sizing: border-box;

position: absolute;
width: 39px;
height: 39px;
left: 1273px;
top: 16px;

background: #E4F5FF;
border: 3px solid #294548;


/* поиск */

position: absolute;
left: 66.67%;
right: 32.08%;
top: 31.94%;
bottom: 34.72%;

background: #294548;
opacity: 0.97;


/* категории */

position: absolute;
width: 39px;
height: 39px;
left: 1368px;
top: 18px;



/* кнопочка 2 */

box-sizing: border-box;

position: absolute;
width: 39px;
height: 39px;
left: 1368px;
top: 18px;

background: #E4F5FF;
border: 3px solid #294548;


/* категории */

position: absolute;
left: 71.67%;
right: 27.14%;
top: 41.67%;
bottom: 38.89%;

background: #294548;


/* профиль */

position: absolute;
width: 39px;
height: 39px;
left: 1463px;
top: 16px;



/* вход/регистрация */

position: absolute;
width: 39px;
height: 39px;
left: 0px;
top: 0px;



/* кнопка 4 */

box-sizing: border-box;

position: absolute;
width: 39px;
height: 39px;
left: 0px;
top: 0px;

background: #E4F5FF;
border: 3px solid #294548;


/* фейс */

position: absolute;
left: 84.62%;
right: -56.41%;
top: 12.82%;
bottom: 5.13%;

background: #294548;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* боди */

position: absolute;
width: 1120px;
height: 950px;
left: 400px;
top: 74px;

background: #95EDFF;


/* vivid-blurred-colorful-wallpaper-background 1 */

position: absolute;
width: 1423px;
height: 950px;
left: -154px;
top: 0px;

background: url(vivid-blurred-colorful-wallpaper-background.jpg);


/* Холодильник пуст? У нас найдется свеженькое молоко идей от лучших фрилансеров страны! */

position: absolute;
width: 603px;
height: 150px;
left: 517px;
top: 299px;

font-family: 'Press Start 2P';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 30px;

color: #294548;



/* Свежий взгляд на каждый проект и ледяной профессионализм в работе. */

position: absolute;
width: 603px;
height: 150px;
left: 515px;
top: 498px;

font-family: 'Press Start 2P';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 30px;

color: #294548;



/* свежее решение */

position: absolute;
width: 1038px;
height: 136px;
left: calc(50% - 1038px/2 + 1px);
top: calc(50% - 136px/2 - 293px);

background: rgba(110, 236, 255, 0.22);
box-shadow: 0px 4px 9.8px rgba(72, 149, 191, 0.64);
border-radius: 43px;


/* СВЕЖЕЕ РЕШЕНИЕ ДЛЯ ВАШЕГО БИЗНЕСА */

position: absolute;
width: 1055px;
height: 116px;
left: 0px;
top: 28px;

font-family: 'Press Start 2P';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 40px;
text-align: center;

color: #294548;



/* холодильник */

position: absolute;
width: 612px;
height: 611px;
left: -51px;
top: 155px;



/* фон холодильника */

position: absolute;
width: 422px;
height: 553px;
left: 95px;
top: 41px;

background: #296986;
filter: blur(150px);


/* холодильник */

position: absolute;
width: 364.55px;
height: 409.91px;
left: 123.73px;
top: 100.54px;



/* пустой холодос */

position: absolute;
width: 364.55px;
height: 409.91px;
left: 123.73px;
top: 100.54px;



/* холодильник */

position: absolute;
left: 20.22%;
right: 20.22%;
top: 16.46%;
bottom: 16.46%;

background: #6B6869;


/* молочко */

position: absolute;
left: 54.87%;
right: 41.69%;
top: 44.85%;
bottom: 48.18%;

background: #CFEEED;
