* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #309cce;
  font-family: "Press Start 2P", system-ui;
  overflow-x: hidden; 
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 85px;
  background-color: #ffffff;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; 
  font-family: "Dmitrieva SP";
  font-size: 45px;
  color: #296986;
}
.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo img {
  height: 94px; 
  width: 94px;
  margin-right: 0px; 
}

.buttons {
  display: flex;
}

.circle-button {
  width: 50px;
  height: 50px;
  background-color: #E4F5FF;
  border-radius: 50%;
  border: 3px solid #074b61;
  margin-right: 50px;
  transition: background-color 0.3s, transform 0.3s;
}

.circle-button:hover {
  background-color: #0898cd;
  transform: scale(1.1);
}

.square {
  margin-left: 10%;
  width: 80%;
  height: 900px;
  display: flex;
  flex-direction: column;
  color:#458396;
  align-items: center;
  justify-content: center;
  background-color:rgba(255,255,255,0.95);
  background-size: cover;
  position: relative;
}

.element {
  z-index:14;
  color:#ffffff;
  background-color: rgba(2,167,232,0.64); 
  border-radius: 20px; 
  width: 90%;
  padding: 20px; 
  position: relative; 
  text-align:center;
  top:-100px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  font-size: 31px;
}

.square img {
  height:730px;
  width: 100%;
  z-index: 10; 
  margin-top: 150px; 
  object-position: -225px 0px;
  background-attachment: scroll;
  position: absolute;
}

.square .content {
  color:#028bb4;
  width: 40%;
  position: relative;
  top: 250px;
  left: 300px;
  font-size: 25px;
  flex-grow: 1; 
  max-height:406px;
  top:86px;
}

.search-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 300px;
}

.search-container {
  position: relative;
  width: 39px;
  height: 39px;
  transition: all 0.3s ease;
}

.search-button {
  position: absolute;
  right: 0;
  width: 39px;
  height: 39px;
  background: #E4F5FF;
  border: 3px solid #294548;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
}

.search-input {
  position: absolute;
  width: 39px;
  height: 39px;
  right: 0;
  background: #E4F5FF;
  border: 3px solid #294548;
  border-radius: 26px;
  padding: 0 39px 0 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #7F7F7F;
  outline: none;
  transition: all 0.3s ease;
  opacity: 0;
  z-index: 1;
}

.search-container:hover .search-input {
  width: 250px;
  opacity: 1;
}

.search-input::placeholder {
  color: #7F7F7F;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.2s ease 0.1s;
}

.search-container:hover .search-input::placeholder {
  opacity: 1;
}

.logo span:hover{
  color:#0856a9;
  transform:translatex(0px) translatey(0px);
 }
 
.logo span{
  color:#199ae5;
 }